@import 'typeface-inter';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: #130601; /* Dark Gray */
  color: #FFFFFF; /* White */
}

.navbar {
  background-color: #343030; /* Darker Gray */
  padding: 15px 30px; /* Increase padding */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between items */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  position: sticky; /* Make navbar sticky */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure it stays on top */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px; /* Increase gap between items */
}

.navbar a {
  text-decoration: none;
  color: #FFFFFF; /* White */
  font-weight: bold;
  padding: 15px 30px; /* Increase padding */
  border-radius: 10px; /* Increase border radius */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
  font-size: 1.2em; /* Increase font size */
}

.navbar a:hover {
  background-color: #8B0000; /* Dark Red */
  transform: scale(1.1); /* Slightly increase size on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.navbar-brand {
  font-size: 1.8em; /* Increase font size */
  font-weight: bold;
  color: #FFFFFF; /* White */
  text-decoration: none;
}

.intro {
  padding: 20px;
  text-align: center;
}

.intro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  width: 30%;
  height: 400px;
  position: relative;
  margin-left: 7rem;
}

.text-content {
  width: 50%;
  text-align: left;
  padding: 20px;
  margin-right: 6rem;
  line-height: 1.5;
}

#MyName, #AbtMe {
  font-size: 2em;
  text-align: center;
}

#MyName {
  margin-bottom: 2rem;
}

#AbtMe {
  margin-top: 7rem;
}

.about-me {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  word-wrap: break-word;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

.flip-card-front {
  background-color: #444444; /* Dark Gray */
  color: #FFFFFF; /* White */
}

.flip-card-back {
  background-color: #8B0000; /* Dark Red */
  color: #FFFFFF; /* White */
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.flip-card-back p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.flip-card-back ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-height: 100px; /* Adjust this value as needed */
  overflow-y: auto; /* Add scroll if content overflows */
}

.flip-card-back li {
  margin: 5px 0;
  font-size: 0.9em;
}

.checkmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: #8B0000; /* Dark Red */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.flip-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5rem 2rem;
  justify-content: center;
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.certificate-box {
  width: 20rem;
  height: 5rem;
  background-color: #444444; /* Dark Gray */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 1rem;
}

.certificate-box:hover {
  background-color: #8B0000; /* Dark Red */
}

.certificate-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #FFFFFF; /* White */
  font-size: 1.2rem;
  text-align: center;
}

.certificate-content a {
  color: #FFFFFF; /* White */
  text-decoration: none;
}

.certificate-content a:hover {
  text-decoration: underline;
}

.certificate-content .checkmark {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: #8B0000; /* Dark Red */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.side-by-side, .contacts-reference {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.contacts-reference {
  background-color: #343030; /* Darker Gray */
  padding: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
}

.contacts-reference .section {
  background-color: transparent; /* Make section background transparent */
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  margin: 0 1rem;
}

.section {
  flex: 1;
  margin: 0 1rem;
}

.section h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.created, .work-experience, .motives {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.created div, .work-experience div, .motives div {
  flex: 1;
  text-align: center;
}

#motives {
  user-select: none; /* Disable text selection */
}

.quote-box {
  width: 87rem;
  height: 26rem;
  background-color: #1F1F1F; /* Dark Gray */
  border: 2px solid #8B0000; /* Dark Red */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide overflow for smooth sliding */
  cursor: grab; /* Change cursor to indicate draggable area */
  user-select: none; /* Disable text selection */
}

.quote-wrapper {
  display: flex;
}

.quote-box .quote {
  text-align: left;
  font-size: 2rem;
  color: #FFFFFF; /* White */
  padding: 2rem; /* Add padding for space between quote and walls */
  min-width: 100%; /* Ensure each quote takes full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.quote-box .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #8B0000; /* Dark Red */
  cursor: pointer;
}

.quote-box .arrow.left {
  left: -2rem;
}

.quote-box .arrow.right {
  right: -2rem;
}

.contact-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.contact-list li {
  margin: 0.5rem 0;
}

.contact-list a {
  color: #FFFFFF; /* White */
  text-decoration: none;
  font-weight: bold;
}

.contact-list a:hover {
  text-decoration: underline;
}

.reference-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.reference-list li {
  margin: 1rem 0;
}

.reference-list a {
  color: #FFFFFF; /* White */
  text-decoration: none;
  font-weight: bold;
}

.reference-list a:hover {
  text-decoration: underline;
}

.transition-opacity {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.opacity-100 {
  opacity: 1;
}

.lowered-tile {
  margin-top: 12rem; /* Add this line to bring the Dart and JavaScript tiles down by 5 rem */
}